<div class="flex flex-col">
    <div class="card">
        <p-dataview [value]="news" layout="list">
            <ng-template #list let-items>
                <div class="flex flex-col">
                    <div *ngFor="let item of items; let i = index" [routerLink]="'/'">
                        <div class="item-hover flex flex-col sm:flex-row sm:items-center p-6 gap-4
                             hover:bg-surface-100 dark:hover:bg-surface-800
                             hover:shadow-md rounded transition cursor-pointer"
                             [ngClass]="{ 'border-t border-surface': i !== 0 }">
                            <div class="md:w-40 relative">
                                <img class="block xl:block mx-auto rounded w-full" [src]="item.image" [alt]="item.name" />
                            </div>
                            <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6">
                                <div class="flex flex-row md:flex-col justify-between items-start gap-2">
                                    <div>
                                        <div class="text-lg font-medium mt-2">{{ item.name }}</div>
                                        <div class="my-2">{{ item.description }}</div>
                                        <div>
                                            <p-chip class="transition" *ngFor="let category of item.categories" [label]="category" styleClass="m-1"></p-chip>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex flex-col md:items-end gap-8">
                                    <p-knob [(ngModel)]="item.relevance" [step]=".1" [min]="0" [max]="10" [valueColor]="getSeverity(item.relevance)" valueTemplate="{value}" />
                                    <div class="flex flex-row-reverse md:flex-row gap-2">
                                        <a (click)="$event.stopPropagation()" [href]="item.link" pButton class="text-center p-button-info p-button-rounded" target="_blank" rel="noopener noreferrer">
                                            <span pButtonLabel>See full article</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-dataview>
    </div>
</div>
